html {
  box-sizing: border-box;
  font-size: 100%;
}

*, :after, :before {
  box-sizing: inherit
}

body {
  background: #cc2b5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #753a88, #cc2b5e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #753a88, #cc2b5e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  min-height: 100vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: .85rem;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all .2s ease-in-out
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
  background-color: #fff;
  color: #cc2b5e;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels a {
  flex: 1;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #cc2b5e;
  border: none;
  font-weight: bold;
}

.channels a:last-child {
  margin-right: 0
}

img {
  border-radius: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #cc2b5e;
  color: white;
  text-align: center;
}
